*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.swiper{
	width: 1366px;
	height: 660px;
	margin: 0 auto;
	position: relative; /*此处设置相对定位,为leftBtn he reightBtn*/
	overflow: hidden;   /*溢出隐藏的功能*/
}
.imgList{
	width: 100%;
	height: 100%;
	position: relative;  /*设置相对上面参数相对定位*/
}
.imgList .imgItem{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	opacity: 1;  /*4.默认图片透明  --改为不透明*/   
	transition: all 0.38s; 
	
}
/*.imgList .imgItem.active{
	opacity: 1;
}*/

.swiperBtn div{
	width: 100px;
	height: 50px;
	background: rgba(0,0,0,0.6);
	background-image: url(../img/nextarrow.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 60%;
	z-index: 5;
}

.leftBtn{
	position: absolute;
	left: 0;
	top: calc(50% - 25px);
	transform: rotate(180deg);
}
.rightBtn{
	position: absolute;
	right: 0;
	/*top: 50%;
	margin-top: -25px;*/
	top: calc(50% - 25px);
	
}


.circleList{
	position: absolute;
	width: 100%;
	height: 120px;
	left: 400px;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-content: center;
	z-index: 10;
}

.circleList .circleItem{
	width: 15px;
	height: 15px;
	border-radius: 10px;
	margin: 10px 10px;
	background: rgba(255,255,255,0);
	border: 3px solid #404040;
}

.circleList .circleItem.active{
	background: rgba(0,0,0,0.7);

}

/*设置一个向右移动的类*/
.activeRight{
	/*关键帧的名字为swiperRight,动画用时1s,动画的速度是线性的，保留动画最后一刻的状态*/
	animation: swiperRight 1s linear forwards; /*forwards保留动画最后一刻状态*/
	z-index: 3;
}

@keyframes swiperRight{
	from{
		transform: translateX(100%);
	}
	to{
		transform: translateX(0);
	}
}

.activeLeft{
	/*同上*/
	animation: swiperLeft 1s linear forwards;
	z-index: 3;
}
@keyframes swiperLeft{
	from{
		transform: translateX(-100%);
		
	}
	to{
		transform: translateX(0%);
		
	}
}
.currentRight{
	animation: currentRight 1s linear forwards;
	z-index: 1;	
}

@keyframes currentRight{
	from{
		transform: translateX(0%);
	}
	to{
		transform: translateX(-100%);
	}
}


.currentLeft{
	
	animation: currentLeft 1s linear forwards;
	z-index: 1;
}

@keyframes currentLeft{
	from{
		transform: translateX(0%);
	}
	to{
		transform: translateX(100%);
	}
}